<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/logos.png">

  <title>Forum</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
  .smallbtn {
    background-color: #D9D9D9;
    border: none;
    color: #4B4A4A;
    padding: 3px 12px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }
  .login{
    background: #2285f5;
  }
  .aitu{
    font-size: 20px;
  }
  #logout{
    display: none;
  }
  #profile{
    display: none;
  }
  #ask{
    display: none;
  }
  .title{
    color: black;
    font-size: 20px;
  }
  .title:hover{
    color: black;
  }
  #tags{
    margin-left: 5px;
    margin-right: 5px;
  }
  #notice{
  display: none;
  }
</style>
<body onload="Login()">
<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button type="button" class="aitu btn btn-primary"><a href="/">AITU MOMENT</a></button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forum">Forum
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/seeUsers">All users
            </a>
          </li>
          <li class="nav-item" id="notice">
            <a class="nav-link active" aria-current="page" href="/notice">Notification
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" class="login btn btn-primary" id="login"><a href="/users/login">Login</a></button>
          <button type="button" class="login btn btn-primary" id="profile"><a href="/profile">Profile</a></button>
          <button type="button" class=" btn btn-primary" id="logout"><a href="/logout">Logout</a></button>

          <button type="button" class="btn btn-primary" id="signup"><a href="/users/signup">Signup</a></button>
        </form>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <br><br><br><br>
  {{$x:=0}}
  {{range $a,$b :=.}}
  {{$x = $a}}
  {{end}}
  <div class="container">

  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row" style="border: 1px solid gray">
        <div class="col-4">
          <div class="mx-4">
            <h4 class="my-3">All Questions</h4>
            <p>{{$x}}+1 questions</p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-9"></div>
            <div class="col">
              <button class="btn btn-primary my-3" style="width: 150px" id="ask"><a href="/post">Ask questions</a></button>
            </div>
          </div>
        </div>
      </div>
      {{range $a,$b :=.}}
      <div class="row my-1" style="border: 1px solid gray">
        <div class="row">
          <div class="col-2">
            <div style="margin: 30px; color: darkslategray">
              <p>{{$b.AnswerCount}} answers</p>
              <p>{{$b.ViewCount}} views</p>
            </div>
          </div>
          <div class="col">
            <div class="container" style="margin: 30px">
             <a class="title" href="/posts/{{$b.Title}}">{{$b.Title}}</a>
              <p style="font-size: 16px; color: darkslategray">{{$b.Text}}</p>
              <div class="row">
                {{range $i,$k :=.Tags}}
                <div class="col-1" id="tags">
                  <button class="smallbtn">{{$k}}</button>
                </div>
                {{end}}
                <div class="col-2" style="margin: 0 40px; color: #0d6efd">
                  <div style="display:block;text-align:left">
                    <img align="left" src="https://cdn-icons-png.flaticon.com/512/147/147142.png" width="28" height="28"
                         style="border-radius: 50%; margin: 0 5px">
                    <p>{{$b.Username}}</p>
                  </div>
                </div>
                <div class="col-2">
                  <p > {{$b.CreatedAt.Local.Day}} {{$b.CreatedAt.Local.Month}} {{$b.CreatedAt.Local.Year}} {{$b.CreatedAt.Local.Hour}}:{{$b.CreatedAt.Local.Minute}}:{{$b.CreatedAt.Local.Second}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script>
  function getCookieValue(key) {
    var cookies = document.cookie.split('; ');
    for (var i = 0, parts; (parts = cookies[i] && cookies[i].split('=')); i++) {
      if (decode(parts.shift()) === key) {
        return decode(parts.join('='));
      }
    }
    return null;
  }

  function decode(s) {
    return decodeURIComponent(s.replace(/\+/g, ' '));
  }
  let a=getCookieValue("username")
  let login=document.getElementById("login")
  let signup=document.getElementById("signup")
  let logout=document.getElementById("logout")
  let pro=document.getElementById("profile")
  let ask=document.getElementById("ask")
  let notice=document.getElementById("notice")
  function Login(){
    if (a==="Admin"){
      login.style.display="none"
      signup.style.display="none"
      logout.style.display="block"
      pro.style.display="block"
      ask.style.display="block"
      notice.style.display="block"
    }else if(a!==null){
      login.style.display="none"
      signup.style.display="none"
      logout.style.display="block"
      pro.style.display="block"
      ask.style.display="block"
    }
  }
</script>
</body>
</html>